@using csdlnc_shopee.Models;
@model List<DATHANG>
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var account = Session["account"] as TAIKHOANDANGNHAP;
    shopeeEntities3 db = new shopeeEntities3();


}

@foreach (var dathang in Model)
{
    var productItem = (from DH in db.DONHANGs
                       where DH.ID_DONHANG == dathang.ID_DONHANG
                       join HH in db.HANGHOAs on DH.MASANPHAM equals HH.MAHANGHOA
                       select new
                       {
                           id_hh = HH.MAHANGHOA,
                           gianhang = HH.MAGIANHANG,
                           ten = HH.TENHANGHOA,
                           giathanh = HH.GIATHANH,
                           soluong = DH.SOLUONG
                       }).First();
    <div class="container card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
                <tr>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col" width="120" class="text-center">Đơn giá</th>
                    <th scope="col" width="120" class="text-center">Số lượng</th>
                    <th scope="col" width="120" class="text-center">Thành tiền</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <figure class="media">
                            <div class="img-wrap"><img src="https://robohash.org/@productItem.ten" class="img-thumbnail img-sm" width="100" height="100"></div>
                            <figcaption class="media-body" style="max-width: 70%; margin-left: 8px">
                                <div class="title text-truncate one-line-text">@productItem.ten </div>

                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <input type="email" class="form-control text-center" id="exampleInputEmail1"
                               value="@productItem.soluong">
                    </td>
                    <td>
                        <div class="price-wrap">
                            <var class="price">@productItem.soluong*@productItem.giathanh</var>
                            <small class="text-muted">Giá thành: @productItem.giathanh</small>
                        </div> <!-- price-wrap .// -->
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

}

